.nav-item-pipehome {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-QTrans {
  font-family: Rajdhani;
}

.nav-item-QToken {
  font-family: Rajdhani;
}

.nav-item-CarbonCred {
  font-family: Rajdhani;
}

.nav-item-People {
  font-family: Rajdhani;
}

.nav-item-FAQ {
  font-family: Rajdhani;
}
  .intro-btn2 {
    display: flex;
    padding-left: 20px;
    column-gap: 20px;
    justify-content: first baseline;
  }
  
  
  .navbar-nav > .nav-item > a > .nav-item-CarbonCred {
    font-weight: bold;
    color: #fff;
  }
  
  .container-bg {
    background-color: #e0e0e0;
  }

  
  /* Jade Codes  */
.content-header{
    text-align:left;
    size: 32px;
    margin-top: 20px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
}
.content-message{
  text-align:left;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}
.content-frame{
  top: 15px;
  position: relative;
}
.benefits-container{
  background-color: #e0e0e0;
}
.benefits-content{
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;

  color: #5a5a5a;
  padding-left: 180px;
  padding-top: 100px;
  padding-bottom: 200px;
}
footer{
  margin-top: auto;
}
.footer-text{
  text-align:left;
  size: 18px;
}
.footer-logo {
  float: left;
  padding: 0 20px 20px 0;
}
.list{
  list-style: none;
  display: inline-block;
  text-align: left;
}
.link{
  text-align: center;
}
.footer-button{
    background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 165px;
    height: 50px;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #d7d7d8;
    float: left;
}

/* Media  by Jade*/
@media (max-width: 576px) {
  .benefits-content {
    padding-left: 100px;
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  
  /* Content Image  */
  .content-frame{
    left: 115px;
  }
  /* footer logo */
  .footer-logo {
    float: none;
    padding: 0;
  }

  /* footer text */
  .footer-text {
    text-align: center;
  }

  /* footer links */
  .link {
    padding: 1rem;
  }
  
}
@media (max-width: 992px) {
   
  /* nav item pipehome  */
  .nav-item-pipehome{
    transform: translateX(-12px)
  }
   /* footer button */
   .footer-button {
    float: none;
    width: 115px;
    height: 35px;
   }
}
@media (max-width: 1200px) {
  
}