.nav-item-pipehome {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-QTrans {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-QToken {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-CarbonCred {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-People {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-FAQ {
  font-family: "Rajdhani", sans-serif;
}

.intro-btn2 {
  display: flex;
  padding-left: 20px;
  column-gap: 20px;
  justify-content: first baseline;
}

.navbar-nav > .nav-item > a > .nav-item-pipehome {
  font-weight: bold;
  color: #fff;
}

.bg-icon-elipse1 {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
  width: 800px;
}

.container-bg {
  background-color: #e0e0e0;
}

.cards-section {
  background-color: #e0e0e0;
}

.pipe-card-buttons {
  background-color: #ffffff;
  border-radius: 40px;
  width: 140px;
  height: 50px;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.pipe-card-button-class {
  display: flex;
  justify-content: start;
}

.card {
  width: 1000px;
}

.pipe-card {
  position: relative;
  padding-top: 20px;
  left: 60px;
}

.pipe-card-header {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;

  color: #5a5a5a;
  text-align: left;
}

.pipe-card-lead {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-justify: inter-word;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}
.modal-title {
  height: 80px;
  padding-left: 150px;
}
.modal-title2 {
  height: 180px;
  padding-left: 150px;
}
.content-img1 {
  position: relative;
  right: 700px;
  padding-top: 60px;
}
.content-img2 {
  padding-left: 60px;
}
.content-img3 {
  position: relative;
  right: 705px;
  padding-top: 110px;
}
.content-img4 {
  position: relative;
  right: 705px;
  padding-top: 50px;
}
.content-img5 {
  position: relative;
  right: 695px;
  padding-top: 120px;
}
