.nav-item-pipehome  {
  font-family: "Rajdhani", sans-serif;
}

.nav-item-QTrans {
  font-family: Rajdhani;
}

.nav-item-QToken {
  font-family: Rajdhani;
}

.nav-item-CarbonCred {
  font-family: Rajdhani;
}

.nav-item-People {
  font-family: Rajdhani;
}

.nav-item-FAQ {
  font-family: Rajdhani;
}

.navbar-nav > .nav-item > a > .nav-item-QToken {
  font-weight: bold;
  color: #fff;
}

.bg-icon-tokenomics {
  position: relative;
  left: 100px;
  width: 600px;
}
.showcase-intro-lead {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
  padding-left: 20px;
}

.intro-content {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;

  color: #5a5a5a;
}

.intro-sentence-tokenomics {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  text-align: left;
}

.bg-icon-2 {
  position: relative;
  left: 130px;
  width: 600px;
}

.caption-1 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height */

  color: #5a5a5a;
}

.caption-lead-1 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #5a5a5a;
}

.type-row-1 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  align-items: center;

  color: #5a5a5a;
}

.content-2 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-3 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-4 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-5 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-6 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-7 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-8 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-9 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-10 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-11 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  align-items: center;

  color: #5a5a5a;
}

.content-2-2 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-3-3 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-4-4 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-5-5 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-6-6 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-7-7 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-8-8 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-9-9 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-10-10 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-11-11 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-2-2-2 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-3-3-3 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-4-4-4 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-5-5-5 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-6-6-6 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-7-7-7 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-8-8-8 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-9-9-9 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-10-10-10 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}

.content-11-11-11 {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  text-align: right;
}
.th-position{
  text-align: right;
}